@model IEnumerable<SatisfactionInfo.Models.DTO.QuestionsDTO>
@{
    ConfirmationDTO confirmationDTO = new ConfirmationDTO { Id = "confirmationQuestion", Function = "deleteQuestion" };
}
<partial name="_Confirmation" model="confirmationDTO" /> 
<h4 class="center">Pytania</h4>
<section id="questionsTable">
    <partial name="_Questions" model="Model" />
</section>