body {
    font-family: Verdana,Arial, sans-serif;
    font-size: 14px;
}

hr {
    border: none;
    border-bottom: #e2fbe3 1px solid;
    margin: 7px;
}

label {
    font-family: Arial;
    color: #3b3333;
}

h1, h2, h3, h4, h5 {
    color: black;
}

input[type=checkbox], input[type=radio] {
    transform: scale(1.5);
}
.disabledText {
    color:lightgrey;
}
.label_def {
    padding: 7px;
    margin: 3px;
    width: 100px;
    max-height: 150px;
}

.body-content {
    padding: 0 15px 20px 15px;
    max-width: 900px;
    min-width: 330px;
    margin: auto;
}

.nav {
    top: 5px;
    border-bottom: #e2fbe3 1px solid;
    width: 100%;
    padding-bottom: 3px;
}

.hidden {
    display: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center
}

.centerH {
    border: red solid;
}

a {
    color: #80C342;
    text-decoration: none;
}

    a:hover {
        color: black;
        text-decoration: none;
    }

.top {
    top: 10px;
    position: absolute;
}

.right {
    float: right;
    right: 5px;
}

.left {
    float: left;
    left: 5px;
}

.loader {
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    opacity: 0.85;
}

.loaderImage {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .loaderImage:after {
        content: "Czekaj ...";
        font-size: 20px;
        color: #80C342;
        display: block;
    }

.footer {
    font-size: 12px;
    font-family: Arial;
    color: #808080;
    position: relative;
    margin-top: 20px;
}
.text_def {
    color: #80C342;
}
.button_def {
    overflow: hidden;
    border: 1px solid #80C342;
    color: white;
    padding: 7px 9px 7px 9px;
    margin: 2px;
    background: #80C342;
    border-radius: 2px;
    outline: none;
}

    .button_def:hover {
        border: 1px solid #80C342;
        color: #80C342;
        background: white;
    }

    .button_def:active {
        border: 1px solid #80C342;
        color: #80C342;
        background: white;
        transform: scale(0.97);
    }    

    .button_def:disabled {
        border: 1px solid grey;
        color: grey;
        background: white;
        transform: scale(0.97);
    }

.button_danger {
    overflow: hidden;
    border: 1px solid red;
    color: red;
    padding: 7px 9px 7px 9px;
    margin: 2px;
    background: #fedcdc;
    border-radius: 2px;
    outline: none;
}

    .button_danger:hover {
        border: 1px solid red;
        color: red;
        background: white;
    }

    .button_danger:active {
        border: 1px solid red;
        color: red;
        background: white;
        transform: scale(0.97);
    }

.input_txt, .input_number {
    border: #80C342 1px solid;
    border-radius: 2px;
    outline: none;
    padding: 7px;
    margin: 2px;
}

    .input_txt:focus, .input_number:focus {
        box-shadow: 0px 0px 1px 0px #80C342;
        border: #80C342 2px solid;
        margin: 1px;
    }

.input_number {
    max-width: 280px;
}

.fillWidth {
    width: 10em;
    text-align: center;
}

.danger_txt {
    color: red;
}

.info_txt {
    color: #32478d;
}

.success_txt {
    color: #2f4d04;
}

.borderRight {
    border-right: #e2fbe3 1px solid;
}

.borderLeft {
    border-left: #e2fbe3 1px solid;
}

.padding5 {
    padding: 5px;
}
.marginTop5 {
    margin-top: 5px;
}
.inline > div {
    display: inline-block;
}

.section {
    border: solid 1px #9be08b;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px #cbe9b3;
    margin: 10px;
    padding: 6px 3px 5px 3px;
}

.section_header {
    border-bottom: solid 1px #9be08b;
    background-color: #eeeeee;
    padding: 10px;
    box-shadow: 0px -2px 2px 3px #eeeeee;
}

.section_content {
    padding: 10px;
}

.textarea {
    width: 90%;
    position: relative;
    resize: vertical;    
    font-family: Verdana,Arial, sans-serif;    
}
.textareaMax {
    width: 98%;
    position: relative;
    resize: vertical;
    font-family: Verdana,Arial, sans-serif;
}
.loginBtn {
    position: absolute;
    top: 10px;
    right: 5px;
}

.contentRow {
    min-height: 50px;
    width: 100%;
    position: relative;
}

.required {
    color: red;
    font-size: 14px;
}

#cookieConsent {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: #e2fbe3 1px solid;
}

    .table th {
        border-left: 1px solid #e2fbe3;
        border-bottom: #e2fbe3 1px solid;
        margin: 2px;
        padding: 5px;
    }

    .table td {
        border-bottom: 1px solid #e2fbe3;
        border-left: 1px solid #e2fbe3;
        text-align: center;
        margin: 2px;
        padding: 5px;
    }
.width50 {
    width: 50px;
}
.width100 {
    width: 100px;
}
.select {
    position: relative;
    overflow: hidden;
    border: #80C342 1px solid;
    border-radius: 2px;
    outline: none;
    padding: 7px;
    margin: 2px;
}
.popup {
    border: #80C342 1px solid;
    width: 250px;
    height: 120px;
    padding-top: 30px;
    position: fixed;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(150, 150, 150, 0.5);
    border-radius: 2px;
    top: calc(50% - 105px);
    left: calc(50% - 125px);
}
.confirmation {
    width: 100%;
    height: 100%;
    background: rgba(220, 220, 220, 0.5);
    position: fixed;
    z-index: 2000;
    top:0;
    left:0;
}
.newRow {
    background-color: #f2fce4;
}
/*.displayHref > a:after {
    content: " [" attr(href) "] ";       
}*/