.msg {
    border-radius: 2px;
    padding: 10px;
    padding-top:20px;
    text-align: center;
    margin: 15px 25% 15px 25%;
    min-height: 29px;  
}
@media screen and (max-width:700px){
    .msg {
        margin: 15px;
    }
}

.danger_msg {
    color: red;
    border: #fac4c4 solid 1px;
    background-color: #fedcdc;
}

.info_msg {
    color: #32478d;
    border: #b8e2f5 solid 1px;
    background-color: #b8e2f5;
}

.success_msg {
    color: #2f4d04;
    border: rgb(218, 250, 189) solid 1px;
    background-color: rgb(218, 250, 189);
}
.notVisible{
    visibility:hidden;
}
