@model QuestionareCodeDTO
@{     
    ViewData["Title"] = "Home Page";
}
  
  <div class="center">
      <form asp-action="StartQuestionarie">
          <label asp-for="Code">Wprowadź kod ankiety:</label> <br />
          <input asp-for="Code" class="input_txt" />
          <button onclick="loader()" type="submit" class="button_def">Przejdź do ankiety</button>
      </form>
  </div>