@model QuestionareCodeDTO
@{
    Layout = "_LayoutStart";
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.ErrMessage != null)
{
  <div class="alert alert-danger">@ViewBag.ErrMessage</div>
}
 <form asp-action="StartQuestionarie">
    <input asp-for="Code"  />
    <button type="submit">Przejdź do ankiety</button>
</form>