@model UserQuestionarieDTO
@{     
    ViewData["Title"] = "Ankieta";
    string name = Model == null ? null : Model.Name;
}
@if (Model != null)
{
    <div class="center"><h2>@name</h2></div>
    if (Model.Questions != null && Model.Questions.Count > 0)
    {
        foreach (var question in Model.Questions)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@question.Question</div>
                <div class="panel-body">

                    @if(question.AnswerType == "tak/nie")
                    {  
                    <div>                         
                        <input type="radio" name="decision" value="yes" checked="checked"> Tak
                        <input type="radio" name="decision" value="no"> Nie
                    </div> 
                    <br />
                    }
                   
                    @if (question.AddWhy == true)
                    {
                        <span>Uzasadnienie </span>/*TODO dodać do bazy*/
                        <textarea class="form-control"></textarea>
                    }
                </div>
            </div>
        }
    }
}
else
{
    <div class="center"><h5>Brak danych do wyświetlenia</h5></div>
}

