@model IEnumerable<SatisfactionInfo.Models.DAL.SQL.Answers>
@{      
    ConfirmationDTO confirmationDTO = new ConfirmationDTO { Id = "confirmationAnswer", Function = "deleteAnswer" };
}
<partial name="_Confirmation" model="confirmationDTO" />
<h4 class="center">Odpowidzi</h4>
<section id="answersTable">
    <partial name="_Answers" model="Model" />
</section>

