body {
  font-family: Verdana,Arial, sans-serif;
  font-size: 14px;
}

hr {
  border: none;
  border-bottom: #e2fbe3 1px solid;
  margin: 7px;
}

label {
  font-family: Arial;
  color: #3b3333;
  margin: 2px;
}

.body-content {
  padding: 0 15px 20px 15px;
  max-width: 900px;
  min-width: 350px;
  margin: auto;
}

.nav {
  top: 5px;
  border-bottom: #e2fbe3 1px solid;
  width: 100%;
  padding-bottom: 3px;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #80C342;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.top {
  top: 10px;
  position: fixed;
}

.right {
  float: right;
  right: 5px;
}

.loader {
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  opacity: 0.85;
}

.loaderImage {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderImage:after {
  content: "Czekaj ...";
  font-size: 20px;
  color: #80C342;
  display: block;
}

.footer {
  font-size: 12px;
  font-family: Arial;
  color: #808080;
}

.button_def {
  overflow: hidden;
  border: 1px solid #80C342;
  color: white;
  padding: 7px 9px 7px 9px;
  margin: 2px;
  background: #80C342;
  border-radius: 2px;
  outline: none;
}

.button_def:hover {
  border: 1px solid #80C342;
  color: #80C342;
  background: white;
}

.button_def:focus {
  border: 1px solid #80C342;
  color: #80C342;
  background: white;
  transform: scale(0.97);
}

.input_txt {
  border: #80C342 1px solid;
  border-radius: 2px;
  outline: none;
  padding: 7px;
  margin: 2px;
}

.input_txt:focus {
  box-shadow: 0px 0px 1px 0px #80C342;
  border: #80C342 2px solid;
  margin: 1px;
}
.msg {
  border-radius: 2px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  margin: 15px 25% 15px 25%;
  min-height: 29px;
}

@media screen and (max-width:700px) {
  .msg {
    margin: 15px;
  }
}

.danger_msg {
  color: red;
  border: #fac4c4 solid 1px;
  background-color: #fedcdc;
}

.info_msg {
  color: #32478d;
  border: #b8e2f5 solid 1px;
  background-color: #b8e2f5;
}

.success_msg {
  color: #2f4d04;
  border: rgb(218, 250, 189) solid 1px;
  background-color: rgb(218, 250, 189);
}

.notVisible {
  visibility: hidden;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

#qrCode {
  margin: 15px;
}

@media screen and (max-width:767px) {
  .carousel-caption {
    display: none;
  }
}