<div class="info">
    @if (ViewBag.Info != null && ViewBag.Info.Type == InfoDTO.InfoType.Error)
    {
        <div class="msg danger_msg">
            <div id="closeMsg" class="right fa fa-times-circle"></div>
            @ViewBag.Info.Message
        </div>
    }
    else if (ViewBag.Info != null && ViewBag.Info.Type == InfoDTO.InfoType.Info)
    {
        <div class="msg info_msg">
            <div id="closeMsg" class="right fa  fa-times-circle"></div>
            @ViewBag.Info.Message
        </div>
    }
    else if (ViewBag.Info != null && ViewBag.Info.Type == InfoDTO.InfoType.Success)
    {
        <div class="msg success_msg">
            <div id="closeMsg" class="right fa fa-times-circle"></div>
            @ViewBag.Info.Message
        </div>
    }
    else
    {
        <div class="msg"></div>
    }  
</div>
