@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ankiety</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <environment include="Development">
        <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/info.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/customStyles.css" rel="stylesheet" />
        <link href="~/css/grid.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/min/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <partial name="_Nav" />
    @if (SignInManager.IsSignedIn(User))
    {
    <div class="padding5">
        <a class="padding5 borderRight" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
        <a class="padding5 borderRight" asp-area="" asp-controller="Questionnaries" asp-action="Index">Ankiety</a>
        <a class="padding5 borderRight" asp-area="" asp-controller="Questions" asp-action="Index">Pytania</a>
        <a class="padding5 borderRight" asp-area="" asp-controller="Answers" asp-action="Index">Odpowiedzi</a>
    </div>
    }
    <partial name="_Loader" />
    <div class="body-content">
        <partial name="_Info" />
        @RenderBody()
        <footer class="footer contentRow">
            <hr />
            <p>&copy; @DateTime.Today.Year - WSEI #szkoła programowania</p>
        </footer>
    </div>
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-lazyload/jquery.lazyload.js"></script>
    <script src="~/libs/jquery-lazyload/jquery.scrollstop.js"></script>
    <script src="~/libs/shufflejs/shuffle.min.js"></script>
    <environment include="Development">
        <script src="~/js//customScripts.js" asp-append-version="true"></script>
        <script src="~/js/info.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/min/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
