@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <div class="right loginBtn">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia</a>              
            <button type="submit" class="button_def">Wyloguj</button>
        </div>
</form>
}
else
{
    <div>      
         <a class="loginBtn button_def" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
    </div>
}