<nav class="nav">
    <a asp-area="" asp-controller="Home" asp-action="Index"><img height="50" src="~/images/logo.png" /></a>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <a asp-area="" asp-controller="Answers" asp-action="Index">Odpowiedzi</a>
    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
    <partial name="_LoginPartial" />
</nav>
